<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.1.1.min.js"></script>
    <title></title>
    <script type="text/javascript">
      $(document).ready(()=>{
        $('#btn-get').click(() => {
          $.get(`/chao/${$('#ten').val()}`, data => {
            alert(data);
          });
        });

        $('#btn-post').click(() => {
          var ten = $('#p-ten').val();
          var tuoi = $('#p-tuoi').val();
          $.post('/hello', {ten: ten, tuoi: tuoi}, data => {
            alert(data);
          });
        });

      });
    </script>
  </head>
  <body>
    <input type="text" id="ten">
    <button id="btn-get">Get Hello</button>
    <br><br><br>
    <input type="text" id="p-ten">
    <input type="text" id="p-tuoi">
    <button id="btn-post">Post Hello</button>
  </body>
</html>
